
<h5 class="modal-title text-center">Search Type</h5>

<!-- Horizontal under breakpoint -->
<ul class="list-group mt-4">

  <!--! Configuaracion para la ruta padre -->
  <!--? Se coloca el routerLinkActive para que sepamos cuando estamos en esa ruta -->
  <!--? Se coloca el routerLinkActiveOptions para especoficar que la sintaxis de la ruta se exacta
    <!--? Es decir que tiene que ser semanticamente igual y solo igual para poder activarse o llevar a ella -->

    <!-- <li routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      class="list-group-item">Home
    </li>

    <li routerLink="about"
      routerLinkActive="active"
      class="list-group-item">About Page
    </li>

  <li routerLink="contact"
    routerLinkActive="active"
    class="list-group-item">Contact Page
  </li> -->

  <li
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item">By Country Capital
  </li>

  <li
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item">By Country
  </li>

  <li
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item">By Region
  </li>

</ul>




